<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Status</title>
<style type="text/css">
	span {
        display: inline-block;
        width: 280px;
        text-align: left;
    }
</style>
</head>
<body>

<div align="center">
	<h2> Check eligibility</h2>
	<span> Student eligible ? : </span> <span th:text="${response.isEligible}"></span> <br/>
	<span> Score of applicant ? : </span> <span th:text="${response.scoreOfApplicant}"></span> <br/>
	<div th:if="${not #lists.isEmpty(response.criteriaMismatch)}">
		<h4> Reasons why is not accepted </h4>
		<div th:each ="reason , state : ${response.criteriaMismatch}">
		<br/>
			<span th:text="'Reason '+${state.index+1}+' :'"></span>
			<span th:text="${reason}"></span><br/>
		</div>
	</div>
	
</div>

</body>
</html>